<nav class="navbar">
  <div class="nav-inner">
    <div class="logo" id="nav-toggle">
      <img src="assets/icon/viber_logo.svg" alt="Aecons Logo" class="logo-img" />
    </div>

    <div class="nav-row" id="nav-menu">
      <ul class="nav-links row-1">
        <li><a href="index.html">Home</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="career.html">Career</a></li>
        <li><a href="products.html">Products</a></li>

      <ul class="nav-links row-2">
        <li><a href="about.html">About</a></li>
        <li><a href="projects.html">Projects</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
