<nav class="navbar">
  <div class="nav-inner">
    <div class="logo">
      <a href="index.html">
        <img src="assets/icon/viber_logo.svg" alt="Aecons Logo" class="logo-img" />
      </a>
    </div>

    <ul class="nav-links" id="nav-menu">
  <li><a href="index.html">Home</a></li>
  <li><a href="services.html">Services</a></li>
  <li><a href="career.html">Career</a></li>
  <li><a href="products.html">Products</a></li>
  <li><a href="about.html">About</a></li>
  <li><a href="projects.html">Projects</a></li>
  <li><a href="contact.html">Contact</a></li>
  <li><a href="view.html">View</a></li>
</ul>


  </div>
</nav>
